nav {
    background-color: #90def4;
}

body {
    background-color: #daf4fb;
}

.trackrLogo {
    font-size: 100px;
}

.link {
    text-decoration: none;
    color: black;
}

.list-item {
    border-bottom: 1px solid lightgray;
}

.list-box {
    border: 1px solid lightgray;
    border-radius: 5px;
}

