nav {
    background-color: lightgray;
}

.trackrLogo {
    font-size: 100px;
}

.link {
    text-decoration: none;
    color: black;
}

.list-item {
    border-bottom: 1px solid lightgray;
    height: 110px;
}

.list-box {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.packageCheck {
    width: 25px;
    height: 25px;
}

.checklist {
    margin-top: 20px;
}

.checkitem {
    padding: 25px;
    width: 100px;
    height: 110px;
}

.w-40 {
    width: 40%;
}

